body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Speed up drag-and-drop animations to reduce flicker */
[data-rfd-draggable-context-id] {
    transition-duration: 0.001s !important;
}

[data-rfd-draggable-id] {
    transition-duration: 0.001s !important;
}
